// Colors
$pink: #EC9791;
$pink-light: #EFD0D7;
$pink-love: #FF8FA3;
$brown: #59373C;
$white: #ffffff;
$purple: #956A74;
$purple-text: #9C6870;
$night-blue: #232F5C;
$golden: #8F7019;
$golden-light: #D6A624;


// Breakpoints
$tablet: 768px;
$desktop: 992px;
$mobile: 430px;

