.add-to-cart-icon {
  width: 1.5rem;
  height: 3rem;
  margin-left: 1rem;
  display: block;
  position: relative;

  background: url("../images/icon-add-to-cart.svg") no-repeat center center/contain;
}
