//MOBILE (& UP) STYLE


html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;
    margin: 0;
    background-color: white;

    h1 {
      margin: 0;
    }

    h2 {
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }
}




