// Mobile&Up
html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;
    margin: 0;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
    }

    h2 {
      margin: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &.bg-stains {
      background-image: url("../images/paint-splash-gold.png");
      background-repeat: repeat;
      background-position: top 75px right;
    }

    main {
      padding-bottom: 17rem;
    }
  }

  // Tablet&Up
  @media (min-width: $tablet) {
    body {

      &.bg-stains {
        background-position: top 91px right;
      }
    }
  }
}




