//MOBILE (& UP) STYLE


html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;
    margin: 0;
    background-color: white;

    h1 {
      margin: 0;
    }

    h2 {
      margin: 0;
    }

    a {
      text-decoration: none;
    }

    .bg-bear {
      background-image: url("../images/teddy-bear-heart-icon-background.svg");
      background-repeat: repeat;
      background-size: 75px;
    }
  }


  //For tests on background :
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .bg-bear {
      flex: 1;
    }
  }
}




