// Font faces
@font-face {
  font-family: 'Teddy';
  src: url('../fonts/teddy.woff2') format('woff2'),
  url('../fonts/teddy.woff') format('woff');
}

// Font stacks
$sans-serif:            'Arial', sans-serif;
$times:                 'Times New Roman';
$teddy:                 'Teddy', cursive;
