// Mini Mobile&Up
header {

  .navbar {
    flex-wrap: nowrap;

    .navbar-brand {
      margin-left: 1.5rem;

      .brand-text {
        font-family: $teddy;
        font-size: 4.5rem;
        vertical-align: middle;
        line-height: 6rem;
        margin-left: 1rem;
      }
    }

    .cart-icon-nb-articles-wrapper {
      background-color: $golden-light;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      position: absolute;
      top: 23px;
      right: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
    }

    #cart-icon-nb-articles {
      color: $dark;
      font-weight: 700;
    }
  }


  // Mobile&Up
  @media (min-width: $mobile) {
    .navbar {

      .navbar-brand {

        img {
          height: 60px;
          width: 60px;
        }

        .brand-text {
          font-size: 5rem;
        }
      }
    }
  }


  // Tablet&Up
  @media (min-width: $tablet) {
    .navbar {

      .navbar-brand {

        img {
          height: 75px;
          width: 75px;
        }

        .brand-text {
          font-size: 6rem;
          line-height: 7.5rem;
        }
      }

      .nav-link {

        img {
          width: 85px;
          height: 85px;
        }
      }

      .cart-icon-nb-articles-wrapper {
        padding: 1.3rem;
      }
    }
  }
}
