// Mobile&Up
#item-list-container {

  .card {
    border-radius: 30px;
  }

  .item-image {

    img {
      max-width: 100%;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
  }

  .item-info {
    margin: 1.5rem;


    .item-name {
      font-family: $teddy;
      font-size: 4rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .item-description {
      text-align: justify;
      margin-bottom: 3rem;
    }
  }
}





