// Mobile&Up

#title-container {
  background-color: $white;
  border: solid 5px $light;
  border-radius: 25px;
  max-width: 93.8%;

  .product-page-title {
    font-size: 3.5rem;
    text-align: center;
    font-family: $wonderkids;
    color: $night-blue;

    .symbols {
      font-family: $sans-serif;
    }
  }
}

#product-container {
  .card {
    border-radius: 15px;
  }

  .product-image {
    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }

  .product-info {
    margin: 1.5rem;

    .product-name {
      font-family: $teddy;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 0;
    }

    .product-reference {
      text-align: center;
      font-size: 1.4rem;
      font-style: italic;
      margin-bottom: 4.5rem;
    }

    .product-description {
      text-align: justify;
      margin-bottom: 3rem;
    }

    .product-price {
      font-weight: 600;
      font-size: 1.8rem;
      text-align: center;

      &__number {
        color: $purple-text;
      }
    }
  }

  .home-page-button-wrapper {
    #btn-back-home {
      margin: 6rem 0 0 1rem;
      width: fit-content;

      .teddy-bear-head-icon{
        margin-left: 1rem;
      }
    }
  }
}


// Tablet&Up
@media (min-width: $tablet) {
  #title-container {
    background: url("../../images/light-pink-brush-stroke.png") no-repeat center center;
    background-size: contain;
    padding: 13rem 20rem;
    border: none;
    border-radius: 0;
    max-width: none;

    .product-page-title {
      font-size: 4rem;
    }
  }

  #product-container {
    .product-info {
      .product-price {
        text-align: left;
      }
    }

    .home-page-button-wrapper {
      #btn-back-home {
        margin: 5rem 0 0 1rem;
      }
    }
  }
}




